OWNER_PRIVATE_KEY=

ORIGIN_RPC_URL=
DESTINATION_RPC_URL=
REACTIVE_RPC_URL=

ORIGIN_CHAIN_ID=84532
DESTINATION_CHAIN_ID=11155111
REACTIVE_CHAIN_ID=

CALLBACK_PROXY=
AUTHORIZED_RVM_ID=
# Set AUTHORIZED_RVM_ID to the EOA address that deploys the Reactive listener and destination wallet.
# This address is also the ReactVM ID used by sync-listener-subscription.sh to verify subscriptions.

WILLLEAD_WALLET=
WILLLEAD_WALLET_FACTORY=
WILLLEAD_SIGNAL_EMITTER=
WILLLEAD_REACTIVE_LISTENER=

VITE_WALLET_ADDRESS=
VITE_WALLET_FACTORY_ADDRESS=
VITE_SIGNAL_EMITTER_ADDRESS=
VITE_REACTIVE_LISTENER_ADDRESS=
VITE_ORIGIN_RPC_URL=
VITE_DESTINATION_RPC_URL=
VITE_REACTIVE_RPC_URL=
VITE_REACTIVE_CHAIN_ID=
VITE_CALLBACK_PROXY=
VITE_AUTHORIZED_RVM_ID=
VITE_ORIGIN_EXPLORER_BASE_URL=https://sepolia.basescan.org
VITE_DESTINATION_EXPLORER_BASE_URL=https://sepolia.etherscan.io
VITE_REACTIVE_EXPLORER_BASE_URL=https://reactscan.net
